td {
    border: 1px black solid;
    width: 100px;
    height: 100px;
}

table {
    border-collapse: collapse;
}

.black-tile {
    background-color: #3a3d4d;
}

.white-tile {
    background-color: #c3b390;
}

.table-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}