td {
  border: 1px black solid;
  width: 60px;
  height: 60px;
  text-align: center;
}
body {
  display: flex;
  height: 100vh;
}

table {
  border-spacing: 0;
  background-color: #661f34;
  position: relative;
  margin: auto;
}
th {
  padding: 15px 25px;
}
.black-tile {
  background-color: #2e3452;
}

.white-tile {
  background-color: #d3ccbc;
}


.selected {
  border: 1px red solid;
}

.optional-move {
  background-color: #ccdd35;
}

.winner-popup {
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(65, 166, 206);
  padding: 50px;
  border-radius: 10px;
  width: max-content;
}
